extends layout.jade

block content
  h1 Welcome to #{title}

  h2 Twitter

  form(action='/twitter_user_footprint', method='post')
    input(
      type='text'
      name='username'
      autocomplete='off'
    )
    input(type='submit', value='Find Me', class='btn-success')

  This was a project for mhacks 8. We, coolbry95 and atbe, have built this simple site in response to a prompt we saw on Devpost. The prompt was to inform users of their online footprint. Our inital ideas were a lot bigger than what we were able to accomplish. When we realized that we would not be able to do everything we wanted we switched our goals to make mhacks 8 a learning experience.

  This returns a quick Twitter search by using their API. The site is split into two parts with the website rendering done in Node.js, and the Twitter search API done in Go. Atbe took the role of making the website itself, and coolbry95 took the backend along with the setup of our VPS.

  There may be updates to this site to finish the ideas that we had. Whether or not it will happen is a mystery only Scooby and the gang can solve.

  p #{sorry_message}
  
